@model IEnumerable<Gauss.TccUnifaat.Common.Models.Aviso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAviso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAviso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvisoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvisoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvisoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
