@model Gauss.TccUnifaat.Common.Models.Disciplina

@{
    var pageName = "Detalhes";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Disciplinas";
    ViewData["Heading"] = "Disciplina: <span class='fw-300'>Detalhes</span>";
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h5>@pageName</h5>
        </div>
        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Turma)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Turma.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataCadastro)
                </dd>
            </dl>
            <div>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.DisciplinaId">Editar</a>
                <a class="btn btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
            </div>
        </div>
    </div>
</div>

