@model IEnumerable<Gauss.TccUnifaat.Common.Models.Disciplina>

@{
    var pageName = "Lista de disciplinas";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Disciplinas";
    ViewData["Heading"] = "Disciplinas: <span class='fw-300'>Listagem</span>";
}

<partial name="_MensagemPartial" />

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h5>@pageName</h5>
        </div>
        <div class="card-body">


            <p>
                <a class="btn btn-secondary" asp-action="Create">Cadastrar</a>
            </p>
            <table id="myTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Turma)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Turma.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCadastro)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Details" asp-route-id="@item.DisciplinaId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.DisciplinaId" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.DisciplinaId" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>