@model Gauss.TccUnifaat.Common.Models.Turma

@{
    var pageName = "Adicionar usuário";
    ViewData["Title"] = pageName;
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">



            <p>
                <strong>Turma:</strong> @Model.Nome
            </p>

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label for="usuariosSelecionados">Selecione os Usuários:</label>

                    @if (ViewData["UsuariosDisponiveis"] is List<Usuario> usuariosDisponiveis && usuariosDisponiveis.Any())
                    {
                        <ul class="list-group">
                            @foreach (var usuario in usuariosDisponiveis.OrderBy(u => u.NomeCompleto))
                            {
                                <li class="list-group-item">
                                    <label>
                                        <input type="checkbox" name="usuariosSelecionados" value="@usuario.Id" />
                                        @usuario.NomeCompleto
                                    </label>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Nenhum usuário disponível.</p>
                    }
                </div>

                <br />

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Adicionar Usuários</button>
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.TurmaId">Voltar para Detalhes da Turma</a>
                </div>

            }

        </div>
    </div>
</div>