@model Gauss.TccUnifaat.Common.Models.Turma

@{
    var pageName = "Detalhes";
    ViewData["Title"] = pageName;
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">
            <h4>Turma: @Html.DisplayFor(model => model.Nome)</h4>
            @if (Model.Usuarios != null && Model.Usuarios.Any())
            {
                var usuariosOrdenados = Model.Usuarios.OrderBy(u => u.NomeCompleto).ToList();

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nome Completo</th>
                            <th>Login</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in usuariosOrdenados)
                        {
                            <tr>
                                <td>@usuario.NomeCompleto</td>
                                <td>@usuario.Email</td>
                                <td>
                                    <form asp-action="RemoverUsuario" asp-route-turmaId="@Model.TurmaId" asp-route-usuarioId="@usuario.Id">
                                        <button type="submit" class="btn btn-danger">Remover</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Nenhum usuário na turma.</p>
            }

            <div>
                <a class="btn btn-secondary" asp-action="AdicionarUsuarios" asp-route-id="@Model?.TurmaId">Adicionar usuários</a>
                <a class="btn btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
            </div>

        </div>
    </div>
</div>

