@model IEnumerable<Gauss.TccUnifaat.Common.Models.Turma>

@{
    ViewData["Title"] = "Index";
}

<div class="p-3">

    <h1>Turmas</h1>

    <p>
        <a class="btn btn-secondary" asp-action="Create">Cadastrar turma</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.TurmaId" class="btn btn-primary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.TurmaId" class="btn btn-secondary">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.TurmaId" class="btn btn-danger">Deletar</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>