@model IEnumerable<Gauss.TccUnifaat.Common.Models.Noticia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Noticias</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Criar noticia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoNoticia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoNoticia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conteudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    <img src="~/img/@item.Foto" width="50" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NoticiaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.NoticiaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoticiaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
