@model IEnumerable<Gauss.TccUnifaat.Common.Models.Noticia>


@{
    var pageName = "Lista de noticias";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Notícias";
    ViewData["Heading"] = "Notícias: <span class='fw-300'>Listagem</span>";
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">

            <p>
                <a class="btn btn-secondary" asp-action="Create">Cadastrar</a>
            </p>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoNoticia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Titulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Conteudo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Foto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Link)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoNoticia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Conteudo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCadastro)
                            </td>
                            <td>
                                @if (item.TipoNoticia == TipoNoticia.NoticiaAPI)
                                {
                                    <img src="@item.Foto" width="50" />
                                }
                                else
                                {
                                    <img src="~/imgNoticias/@item.Foto" width="50" />
                                }
                            </td>
                            <td>
                                @if (item.Usuario != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Usuario.NomeCompleto)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Link)
                            </td>
                            <td>
                                <div class="btn-group">            
                                    <a asp-action="Details" asp-route-id="@item.NoticiaId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.NoticiaId" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.NoticiaId" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
