@model Gauss.TccUnifaat.MVC.ViewModels.HomePortalViewModel

@{
    var pageName = "Home";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Home";
}

<div class="container-fluid mt-3">

    <p><strong>Olá, @User.Identity.Name!</strong></p>
    <h1 class="text-center py-5">Seja bem-vindo ao portal do Gauss!!</h1>

    <div class="card mb-4">
        <div class="card-header">
            <h1>Avisos</h1>
        </div>
        <div class="card-body">
            <div class="row">

                @foreach (var aviso in Model.Avisos)
                {
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card bg-primary bg-opacity-50 text-white mb-4 h-100">
                            <div class="card-body">
                                <h5 class="card-title">@aviso.Titulo</h5>
                                <p class="card-text">@aviso.Descricao</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <p class="card-text">Data do Aviso: @aviso.DataAviso.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h1>Horários</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Professor</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Disciplina</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var horario in Model.Horarios)
                    {
                        <tr>
                            <td>@horario.Usuario</td>
                            <td><a href="tel:@horario.Telefone" class="link">@horario.Telefone</a></td>
                            <td><a href="mailto:@horario.Email" class="link">@horario.Email</a></td>
                            <td>@horario.Disciplina</td>
                            <td>@horario.DataAula</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

