@model Gauss.TccUnifaat.MVC.ViewModels.HomePortalViewModel

@{
    var pageName = "Bem-vindo";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Home";
    ViewData["Heading"] = "Home: <span class='fw-300'>Portal</span>";
}

<div class="container-fluid mt-3">

    <h1 class="text-center py-5">Seja bem-vindo ao portal do Gauss!!</h1>

    <div class="row">

        @foreach (var aviso in Model.Avisos)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card radius-10 border-start border-0 border-3 border-dark h-100 shadow-lg">
                    <div class="card-body">
                        <div class="font-weight-bold text-uppercase mb-1" style="font-size:11px">
                            @aviso.DataAviso.ToShortDateString()
                        </div>
                        <h5 class="card-title">@aviso.Titulo</h5>
                        <p class="card-text">@aviso.Descricao</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h5>Horários</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var horario in Model.Horarios)
                {
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> Professor: @horario.Usuario</h5>
                            <small>Horário: @horario.DataAula</small>
                        </div>
                        <p class="mb-1">Disciplina: @horario.Disciplina</p>
                        <p class="mb-1"><i class="fa-brands fa-whatsapp"></i> <a href="tel:@horario.Telefone" class="link">@horario.Telefone</a></p>
                        <p class="mb-1"><i class="fa-solid fa-envelope"></i> <a href="mailto:@horario.Email" class="link">@horario.Email</a></p>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>

