@model IEnumerable<Gauss.TccUnifaat.Common.Models.MaterialApoio>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arquivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterialApoioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaterialApoioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaterialApoioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
