@using Gauss.TccUnifaat.Common.Extensions;
@model IEnumerable<Gauss.TccUnifaat.MVC.ViewModels.UsuariosViewModel>

@{
    var pageName = "Lista de usuários";
    ViewData["Title"] = pageName;
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">

            <p>
                <a class="btn btn-secondary" asp-action="Register">Cadastrar nova</a>
            </p>

            <table id="myTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>Email</th>
                        <th>Turma</th>
                        <th>Função</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td>@usuario.NomeCompleto</td>
                            <td>@usuario.Email</td>
                            <td>@usuario.Turma</td>
                            <td>@usuario.Funcao</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
